body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #C2E5DB, #ffffff);
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'cc';
    justify-content: center;
    border-radius: 50px;
    background-color: #EDF5F2;
    border-style: solid;
    border-width: 1px;
    border-color: #00948E;
    margin: 1.5em;
    padding: 1.5em;
}

.control-main {
    grid-area: cc;
}

.antraste {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    height: 50px;
    font-size: 2em;
    color: #005B59;
    font-weight: bold;
}

.klases {
    padding: 0 5px 10px;
    background-color: #ffffff;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #00948E;
}

.appending {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;

}

.eilute {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.turinioplotis {
    width: 250px;
    /*word-wrap: break-word;*/
}

.control {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.controlelent {
    display: inline-flex;
    padding: 20px;
}

.mygtukas1 {
    font-family: "Times New Roman", Times, serif;
    width: 120px;
    padding: 7px 0;
    font-size: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #005B59;
    color: #ffffff;
    font-weight: bold;
    background-color: #00948E;
}

.mygtukas1:hover {
    background-color: #ffffff;
    color: #00948E;
    border-color: #00948E;
}

.mygtukas1:disabled,
.mygtukas1[disabled] {
    border-color: #005B59;
    background-color: #00948E;
    color: #ffffff;
    opacity: 0.5;
}

.mygtukas1:focus {
    outline: 0;
}

a {
    width: 200px;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #005B59;
    font-weight: bold;
    padding: 0.4em 1em;
    text-decoration: none;
}

.trinimui a {
    width: 50px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.2em 1em;
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    background-color: #00948E;
    color: #ffffff;
}

a:hover {
    color: #00948E;
}

.trinimui a:hover {
    background-color: #ffffff;
    color: #00948E;
    border-style: solid;
    border-width: 1px;
    border-color: #00948E;
}

#addnewclass {
    border-color: #00948E;
    color: #005B59;
    font-weight: bold;
}

#addnewclass:focus {
    outline-color: #005B59;
}

/*alerto stiliavimas*/
#dialogoverlay {
    display: none;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 10;
}

#dialogbox {
    display: none;
    position: fixed;
    background-color: #00948E;
    border-radius: 7px;
    width: 50%;
    z-index: 10;
}

#dialogbox > div {
    background-color: #00948E;
    margin: 8px;
}

#dialogbox > div > #dialoghead {
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

#dialogbox > div > #dialogbody {
    background-color: #C2E5DB;
    font-size: 19px;
    padding: 20px;
    color: #005B59;
    border-radius: 7px;
}

#dialogbox > div > #dialogfoot {
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

.mygtukasAlerto {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #005B59;
    padding: 5px 20px;
    background-color: #C2E5DB;
    border-radius: 10px;
    border-style: solid;
    border-color: #ffffff;
}

.mygtukasAlerto:hover {
    background-color: #ffffff;
    border-color: #005B59;
}

/*mokiniai-pamokos puslapio papildomas stiliavimas*/
.mp_mygtukas {
    width: 16em;
    margin: 1.6em 0;
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
}
.p_mygtukas {
    width: 25em;
    margin: 1.2em 0;
    padding: 1.5em 2em;
    display: flex;
    justify-content: center;
}
span {
    margin: 0 5px;
}
/* mobile styles, 270px breakpoint */
/*@media only screen and (min-width: 16.875em) {*/

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
    .klases {
        padding: 3em 2em;
        background-color: #ffffff;
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: #00948E;
    }

    .container {
        border-width: 5px;
    }

    .turinioplotis {
        width: unset;
    }

    .mp_mygtukas {
        width: 100%;
        margin: 2em 0;
        padding: 2em 8em;
    }
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    .klases {
        padding: 3em 2em;
        background-color: #ffffff;
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: #00948E;
    }

    .container {
        border-width: 5px;
    }

}

/*vertinimo suvedimas selection*/
.column {
    float: left;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: #00948E;
    border: solid #005B59 2px;
    border-radius: 20px;

}
.containerTab {
    display: none;
    background-color: #C2E5DB;
    padding: 20px;
    color: white;
    border-radius: 20px;
     }
.containerElement{
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.myselect {
    display:inline-block;
    overflow: hidden;
    border:solid #005B59 1px;
    border-radius: 10px;
    margin: 10px ;
}

.elem{
    display:inline-block;
    margin: 15px 3px;
    text-align: center;
    font-weight: bold;
}

.myselect > select {

    padding: 10px ;
    margin:-5px -20px -5px -5px;";
    display: flex;
    align-self:center;
}
.myselect > select > option:hover {
    box-shadow: 0 0 10px 100px #C2E5DB inset;
    color: #00948E;
}
.myselect > select >option:checked {
    box-shadow: 0 0 10px 100px #C2E5DB inset;
}
.myselect > select > option{
    width:40px;
    padding:10px;
    background-color: #00948E;
    color:white;
}
.headerselection{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    /*margin: 10px;*/
    padding: 10px;
    background-color: #00948E;
    /*border-radius: 10px;*/
}
